.nav{
  position: absolute;
  margin: 0;
  padding: 0;
  height: 500px;
  width: 100%;
  background-color: lightblue;
}
div .navbar-header{
  position: absolute;
  float: left;
  top: 55px;
  font-size: 2em;
  font-weight: bold;
   margin-left: 400px;
}

 ul li {
  position: absolute;
  float: right;
  margin-right: 80px;
  top: 60px;
  right: 70px;
  display: inline-block;
}
H1{
  position: absolute;
  font-weight: bold;
  font-display: block;
  top: 100PX;
  color: WHITE;
}

ul img{
  position: absolute;
  right: -400px;px;
  top: 150px;
}

.col-md-4{
  top: 600px;
  margin-left: 0;
  padding-left: 90px;

}

.section2{
  position: absolute;
  background-color: lightgreen;
  height: 400px;
  width: 100%;
  top: 1000px;
}
h3{
  position: absolute;
  left: 600px;
  font-weight: bold;
  font-size: 2.5em;
  color: white;
}


.section2 p{
  position: absolute;
  left: 550px;
  top: 70px;
  text-align: center;
  color: white;
  font-size: 1.5;
}




.section2  a{
  position: absolute;
  text-align: center;
  right: 200px;
  top: 200px;
  color: white;
}
